# Secrets
.env
*.pem
*.key
id_rsa*
*.ppk

# Python
__pycache__/
*.pyc
.venv/
venv/

# Airflow local files
airflow/logs/
airflow/plugins/
airflow/airflow.cfg

# Local data / temp
data/
tmp/
*.parquet
*.csv
*.json.gz

# OS / IDE
.DS_Store
.vscode/
.idea/

.ipynb_checkpoints/
